body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(238, 238, 238);
}
.area {
  display: grid;
  grid-template-areas: "restaurant restaurant terrace";

}

.restaurant {
grid-area: restaurant;
background-color: rgb(45, 45, 45) ;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: auto;

&__tableOne {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  justify-self: center;
   align-self: center;
   margin: 40px;
}
&__tableTwo {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  justify-self: center;
   align-self: center;
    margin: 40px;
}
&__tableThree {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
  justify-self: center;
   align-self: center;
    margin: 40px;
}
&__tableFour {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  justify-self: center;
   align-self: center;
    margin: 40px;
}
&__tableFive {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  justify-self: center;
   align-self: center;
  margin: 40px;

}
&__tableSix {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
  justify-self: center;
   align-self: center;
     margin: 40px;
}
&__tableSeven {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
  justify-self: center;
   align-self: center;
     margin: 40px;
}
&__tableEight {
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
  justify-self: center;
   align-self: center;
     margin: 40px;
}
&__bar {
  background-image: url("bar.svg");
  background-size: 270px 270px;
  background-repeat: no-repeat;
  align-self: flex-end;
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
  display: flex;
  h3 {
    font-size: 32px;
align-self: center;
margin-left: 30px;
  }
  }
}

.terrace {
  grid-area: terrace;
  background-color:rgb(68, 68, 68);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  &__tableNine {
    grid-column: 1 /span 1;
    grid-row: 2 / span 1;
    justify-self: center;
     align-self: center;
       margin: 40px;
  }
  &__tableTen {
    grid-column: 1 /span 1;
    grid-row: 3 / span 1;
    justify-self: center;
     align-self: center;
        margin: 40px;

  }
  &__tableEleven {
    grid-column: 1 /span 1;
    grid-row: 4 / span 1;
    justify-self: center;
     align-self: center;
        margin: 40px;
  }

}

.small {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background-color: #70E848;
  display: flex;

  h3 {
margin:auto;
  }
}
.medium {
  width: 90px;
  height: 90px;
  background-color: #70E848;
  border-radius: 3px;
  display: flex;
  h3 {
    margin: auto;
  }
}
.big {
  width: 150px;
  height: 80px;
  background-color: #70E848;
  border-radius: 3px;
  display: flex;
  h3 {
    margin: auto;
  }
}

.tableStatus {
  display: none;
  background-color: grey;
  width: 300px;
  height: 70px;
  position: absolute;
  z-index: 100;

  &__avaliable {
    background-color: #70E848;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
    border-radius: 3px;
    margin: 5px;
  }
  &__book {
    background-color: #42E8D0;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
    border-radius: 3px;
    margin: 5px;

  }
  &__taken {
    background-color: #FF5955;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
    border-radius: 3px;
    margin: 10px 5px;
  }
}
.tableStatusDisplay {
  display: block;
  margin-left: 68px;
margin-top: 200px;

}
.red {
  background-color: #FF5955;
}
