body {
  font-family: 'Open Sans', sans-serif;
}
.area {
  display: grid;
  grid-template-areas: "restaurant restaurant terrace";
}

.restaurant {
grid-area: restaurant;
background-color: pink;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: auto;
grid-gap: 20px;
&__tableOne {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  justify-self: center;
   align-self: center;
}
&__tableTwo {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  justify-self: center;
   align-self: center;
}
&__tableThree {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
  justify-self: center;
   align-self: center;
}
&__tableFour {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  justify-self: center;
   align-self: center;
}
&__tableFive {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  justify-self: center;
   align-self: center;
}
&__tableSix {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
  justify-self: center;
   align-self: center;
}
&__tableSeven {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
  justify-self: center;
   align-self: center;
}
&__tableEight {
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
  justify-self: center;
   align-self: center;
}
}

.terrace {
  grid-area: terrace;
  background-color: brown;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  &__tableNine {
    grid-column: 1 /span 1;
    grid-row: 2 / span 1;
    justify-self: center;
     align-self: center;
  }
  &__tableTen {
    grid-column: 1 /span 1;
    grid-row: 3 / span 1;
    justify-self: center;
     align-self: center;
  }
  &__tableEleven {
    grid-column: 1 /span 1;
    grid-row: 4 / span 1;
    justify-self: center;
     align-self: center;
  }

}

.small {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background-color: green;
  display: flex;

  h3 {
margin:auto;
  }
}
.medium {
  width: 90px;
  height: 90px;
  background-color: green;
  border-radius: 3px;
  display: flex;
  h3 {
    margin: auto;
  }
}
.big {
  width: 150px;
  height: 80px;
  background-color: green;
  border-radius: 3px;
  display: flex;
  h3 {
    margin: auto;
  }
}

.tableStatus {
  display: none;
}
.tableStatusDisplay {
  display: block;
  
}
