body {
  font-family: 'Open Sans', sans-serif;
  color: #eeeeee; }

.area {
  display: grid;
  grid-template-areas: "restaurant restaurant terrace"; }

.restaurant {
  grid-area: restaurant;
  background-color: #2d2d2d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto; }
  .restaurant__tableOne {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
    align-self: center;
    margin: 40px; }
  .restaurant__tableTwo {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
    align-self: center;
    margin: 40px; }
  .restaurant__tableThree {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
    align-self: center;
    margin: 40px; }
  .restaurant__tableFour {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    justify-self: center;
    align-self: center;
    margin: 40px; }
  .restaurant__tableFive {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    justify-self: center;
    align-self: center;
    margin: 40px; }
  .restaurant__tableSix {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
    justify-self: center;
    align-self: center;
    margin: 40px; }
  .restaurant__tableSeven {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
    justify-self: center;
    align-self: center;
    margin: 40px; }
  .restaurant__tableEight {
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;
    justify-self: center;
    align-self: center;
    margin: 40px; }
  .restaurant__bar {
    background-image: url("bar.svg");
    background-size: 270px 270px;
    background-repeat: no-repeat;
    align-self: flex-end;
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    display: flex; }
    .restaurant__bar h3 {
      font-size: 32px;
      align-self: center;
      margin-left: 30px; }

.terrace {
  grid-area: terrace;
  background-color: #444444;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto; }
  .terrace__tableNine {
    grid-column: 1 /span 1;
    grid-row: 2 / span 1;
    justify-self: center;
    align-self: center;
    margin: 40px; }
  .terrace__tableTen {
    grid-column: 1 /span 1;
    grid-row: 3 / span 1;
    justify-self: center;
    align-self: center;
    margin: 40px; }
  .terrace__tableEleven {
    grid-column: 1 /span 1;
    grid-row: 4 / span 1;
    justify-self: center;
    align-self: center;
    margin: 40px; }

.small {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background-color: #70E848;
  display: flex; }
  .small h3 {
    margin: auto; }

.medium {
  width: 90px;
  height: 90px;
  background-color: #70E848;
  border-radius: 3px;
  display: flex; }
  .medium h3 {
    margin: auto; }

.big {
  width: 150px;
  height: 80px;
  background-color: #70E848;
  border-radius: 3px;
  display: flex; }
  .big h3 {
    margin: auto; }

.tableStatus {
  display: none;
  background-color: grey;
  width: 300px;
  height: 70px;
  position: absolute;
  z-index: 100; }
  .tableStatus__avaliable {
    background-color: #70E848;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
    border-radius: 3px;
    margin: 5px; }
  .tableStatus__book {
    background-color: #42E8D0;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
    border-radius: 3px;
    margin: 5px; }
  .tableStatus__taken {
    background-color: #FF5955;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
    border-radius: 3px;
    margin: 10px 5px; }

.tableStatusDisplay {
  display: block;
  margin-left: 68px;
  margin-top: 200px; }

.red {
  background-color: #FF5955; }

/*# sourceMappingURL=style.css.map */
